@import "../media-query";

.review {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0px;
    background-color: aqua;
    .container {
        width: 1100px;
    }
}