@import"../media-query";
.header {
    background-color: #125012;
    color: #fff;
    height: 32rem;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-around;

        @include phone {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .left {
            display: flex;
            margin-top: 9rem;
            justify-content: center;
            align-items: center;
            gap: 20px;
            flex-direction: column;

            @include phone {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-bottom: 2rem;
            }

            .tetle {

                @include phone {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    font-size: 20px;
                }

                h1 {

                    font-size: 44px;

                    span {
                        font-family: cursive;
                    }
                }
            }
            .search {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid lightgray;
                width: 100%;
                background-color: #fff;
                border-radius: 5px;
                height: 2.5rem;

                @include phone {
                    width: 80%;
                }

                .search-content {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin-left: 0.5rem;
                input {
                    width: 100%;
                    border: none;

                    &:focus {
                        outline: none;
                    }
                }

                .btn-search {
                    display: flex;
                    border: none;
                    height: 2.5rem;
                    width: 5.5rem;
                    cursor: pointer;
                    background-color: #2fa439;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .list_btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;

            @include phone {
                display: none;
            }

            button {
                background-color: transparent;
                border: 1px solid lightgray;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
                padding: 0.5rem;
                cursor: pointer;
                color: #fff;

                &:hover {
                    background-color: #fff;
                    color: #111;
                }
            }
        }
        }

        .right {
            margin-top: 3rem;

            @include phone {
                display: none;
            }

            img {
               height: 27rem;
               object-fit: cover;
            }
        }
    }
    .menu {
        background-color: #c8c5c5;
        color: #808080;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;

        @include phone {
            height: 3.2rem;
        }

        span {
            font-size: 30px;
            font-weight: 700;

            @include phone {
                font-size: 12px;
            }
        }
    }
}