@import "../media-query";

.business {
    width: 100%;
    background-color: rgb(15, 64, 163);

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 3rem;

        @include phone {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 30px;
        }

        .left {
            h1 {
                color: #fff;
                display: flex;
                align-items: center;
                margin-bottom: 3rem;

                @include phone {
                    font-size: 15px;
                }

                span {
                    background-color: rgb(62, 62, 234);
                    font-size: 9px;
                    padding: 0.5rem;
                    border-radius: 17px;
                    font-size: 5px;
                }
            }

            h2 {
                color: #fff;
                margin-bottom: 3rem;

                @include phone {
                    font-size: 15px;
                }

                span {
                    font-family: cursive;
                }
            }
            p {
                color: #fff;
                width: 15rem;
                margin-bottom: 3rem;

                @include phone {
                    font-size: 10px;
                }
            }

            .card-list {

                .list {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 2rem;
                    color: #fff;
                    @include phone {
                        font-size: 10px;
                    }

                    .icons {
                        color: #808080;
                    }
                }
            }

            button {
                display: flex;
                align-items: center;
                padding: 0.5rem;
                border: none;
                border-radius: 10px;
                color: #fff;
                background-color: #4edc5a;
                cursor: pointer;

                &:hover {
                    background-color: #39713e;
                }
            }
        }
        .right {
            @include phone {
                width: 100%;
            }
            img {
                width: 40rem;
                height: 30rem;
                object-fit: cover;

                @include phone {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}