@import"../media-query";

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0px;



    .container {
        width: 1690px;

        @include phone {
            width: 252px;
        }

        h1 {
            font-weight: 500;
            margin-bottom: 3rem;

            @include phone {
                text-align: center;
            }
        }
        .carousel-prev, .carousel-next {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: lightgray;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}